@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")
<!-- About Start -->
<div class="container-xxl py-5 pb-0">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">About Us</h6>
        </div>
        <div class="row g-4">
            <div class="col-md-12">
                Our vision for Mini Traveling Explorer is to revolutionize the way people plan and experience travel by providing a seamless and personalized platform that empowers users to organize their trips efficiently and effortlessly. We envision a world where travel planning is intuitive, stress-free, and tailored to individual preferences, allowing users to focus on creating unforgettable memories.
            </div>
            <br />
            <div class="col-md-12">
                With Mini Traveling Explorer, we aim to become the go-to destination for travelers seeking a comprehensive solution for all their trip planning needs. Our platform will offer a user-friendly interface where users can register and log in to access personalized features that cater to their unique travel preferences and requirements.
            </div>
            <br />
            <div class="col-md-12">
                our product vision for Mini Traveling Explorer is to create a game-changing platform that redefines the travel planning experience. With a focus on seamless user experience, personalization, comprehensive trip organization, and innovation, we aim to empower travelers to explore the world with confidence and ease.
            </div>
        </div>
        <div class="row g-4 justify-content-center mt-2">
            <div class="col-md-5 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded cursor-default" href="javascript:void(0);">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-sticky-note fa-2x text-primary"aria-hidden="true"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Effortless Planning</h5>
                    <p class="text-body mb-0">With Mini Traveling Explorer, bid farewell to travel planning stress. Our intuitive interface and user-friendly tools make organizing your next adventure a breeze, from booking flights to crafting custom itineraries.</p>
                </a>
            </div>
            <div class="col-md-5 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded cursor-default" href="javascript:void(0);">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-heart fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Romantic Getaways</h5>
                    <p class="text-body mb-0">Rediscover love with Mini Traveling Explorer's romantic getaways: from intimate dinners to sunset cruises, create moments of togetherness and deepen connections in stunning settings.</p>
                </a>
            </div>
            <div class="col-md-5 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded cursor-default" href="javascript:void(0);">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-tree fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Connection with Nature</h5>
                    <p class="text-body mb-0">Mini Traveling Explorer fosters a deep bond with nature, urging users to explore its wonders and embrace its tranquility, promoting wellness and sustainability.</p>
                </a>
            </div>
            <div class="col-md-5 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded cursor-default" href="javascript:void(0);">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-camera-retro fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Memorable Moments</h5>
                    <p class="text-body mb-0">Mini Traveling Explorer curates unforgettable experiences, from breathtaking vistas to meaningful connections, enriching lives and igniting a lifelong passion for travel.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

@Html.Partial("_Footer")