<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a id="admin_dashboard" class="nav-link collapsed" href="/Admin/Home">
                <i class="bi bi-grid-fill text-primary"></i>
                <span class="cursor-pointer text-dark">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a id="admin_users" class="nav-link  collapsed" href="/Admin/Users?isAdmin=false">
                <div class="icon">
                    <i class="bi bi-people-fill text-primary"></i>
                    <span class="cursor-pointer text-dark">Users</span>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a id="admin_user_ip_info" class="nav-link collapsed" href="/Admin/UserIpInfo">
                <div class="icon">
                    <i class="bi bi-person-lines-fill text-primary"></i>
                    <span class="cursor-pointer text-dark">User IP Info</span>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a id="admin_log_file" class="nav-link admin-log-file collapsed" href="javascript:void(0);">
                <div class="icon">
                    <i class="bx bxs-file text-primary"></i>
                    <span class="cursor-pointer text-dark">Log File</span>
                </div>
            </a>
        </li>
    </ul>
</aside>
<!-- End Sidebar-->