<div id="message_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header icon-group">
                <h5 id="message_modal_title" class="modal-title"></h5>
                <i class="fa fa-times-circle message-modal-close-icon mt-4"></i>
            </div>
            <div id="message_modal_body" class="modal-body pb-0">
                <div class="row display-flex">
                    <div id="message_modal_body_icon_container" class="col-md-2 align-content-center"></div>
                    <div id="message_modal_body_content" class="col-md-10 align-content-center"></div>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <button id="message_modal_cancel_button" class="btn btn-secondary">
                    <span id="message_modal_cancel_button_text" class="cursor-pointer"></span>
                </button>
                <button id="message_modal_ok_button" class="btn btn-primary" data-dismiss="modal">
                    <span id="message_modal_ok_button_text" class="cursor-pointer"></span>
                </button>
            </div>
        </div>
    </div>
</div>