<div class="row">
    <div class="col-md-12 icon-group">
        <span>Password must meet the following requirements:</span>
        <i class="fa fa-times-circle tooltip-close-icon"></i>
    </div>
    <div class="col-md-12 password-requirement-group">
        <ul>
            <li id="password_requirement_length">
                <span>Must be at least 8 characters long</span>
                <i class="fa fa-check hide"></i>
                <i class="fa fa-times hide"></i>
            </li>
            <li id="password_requirement_lower_case_character">
                <span>Must have at least one lower case character</span>
                <i class="fa fa-check hide"></i>
                <i class="fa fa-times hide"></i>
            </li>
            <li id="password_requirement_upper_case_character">
                <span>Must have at least one upper case character</span>
                <i class="fa fa-check hide"></i>
                <i class="fa fa-times hide"></i>
            </li>
            <li id="password_requirement_number">
                <span>Must have at least one number</span>
                <i class="fa fa-check hide"></i>
                <i class="fa fa-times hide"></i>
            </li>
            <li id="password_requirement_special_character">
                <span>Must have at least one special character (!@@#$*)</span>
                <i class="fa fa-check hide"></i>
                <i class="fa fa-times hide"></i>
            </li>
        </ul>
    </div>
</div>